{% load static %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--Bootstrap-->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<!--/Bootstrap-->
<!--Icons-->
<script
  src="https://kit.fontawesome.com/f6c3c4ffcf.js"
  crossorigin="anonymous"
></script>
<!--Icons-->
<!--Font-->
<link
  href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
  rel="stylesheet"
/>
<!--Font-->
<!--CSS-->
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!--CSS-->
