{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        <!--Navbar-->
        {% include 'navbar.html' %}
        <!--/Navbar-->
        <!--Content-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p style="font-family: Didot; font-size: 20px">
                        TRAVEL ROUND THE WORLD, EXPLORE NEW PLACES, WITNESS THE
                        GREAT ADVENTURE...COME ALONG AND SHARE YOUR EXPERIENCE
                        BY SHARING YOUR TRAVELLING STORY
                    </p>
                    <a class="btn btn-primary" href="travel_blog" role="button"
                        >Lets Blog</a
                    >
                    
                </div>
                <div class="col-sm-6">
                    <img
                        src="{% static 'img/world-map-template-01.jpg' %}"
                        alt=" "
                        width="100%"
                        height="90%"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img
                        src="{% static 'img/hanger.jpg' %}"
                        alt=" "
                        width="100%"
                        height="90%"
                    />
                </div>
                <div class="col-sm-6">
                    <p style="font-family: Didot; font-size: 20px">
                        HAVING A GREAT FASHION SENSE AND WILLING OTHERS TO SHOW
                        YOUR STYLE...PRESENT IT THROUGH YOUR WORDS AND SHARE
                        AMAZING PICTURES
                    </p>
                    <a class="btn btn-primary" href="travel_blog" role="button"
                        >Lets Blog</a
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p style="font-family: Didot; font-size: 20px">
                        ARE YOU A FOOD LOVER? ARE YOU A EXCELLENT COOK? EXPLORE
                        AND MANY OTHERS LIKE TOU...SHARE YOUR SPECIAL RECIPIES
                        WITH US
                    </p>
                    <a class="btn btn-primary" href="travel" role="button"
                        >Lets Blog</a
                    >
                </div>
                <div class="col-sm-6">
                    <img
                        src="{% static 'img/7050575_preview.png' %}"
                        alt=" "
                        width="100%"
                        height="90%"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img
                        src="{% static 'img/music.jpg' %}"
                        alt=" "
                        width="100%"
                        height="90%"
                    />
                </div>
                <div class="col-sm-6">
                    <p style="font-family: Didot; font-size: 20px">
                        PASSIONATE FOR MUSIC!!!<br />
                        MUSIC IS THE SOLUTION FOR ALL THE ULTIMATE
                        PROBLEMS....SHARE YOUR LEARNINGS OF VARIOUS INSTRUMENTS
                        AND LET OTHERS LEARN FROM YOU
                    </p>
                    <a class="btn btn-primary" href="travel_blog" role="button"
                        >Lets Blog</a
                    >
                </div>
            </div>
        </div>
        <div class="hero">
            {% if user.is_authenticated %}
            <!--Jumbotron-->
            {% for blg in blog %}
            <div class="container">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-4">
                            <!--Image-->
                            <img
                                src="{{blg.img.url}}"
                                alt="image"
                                width="100%"
                                height="100%"
                            />
                            <!--Image-->
                        </div>
                        <div class="col-md-8">
                            <!--Text-->
                            <!--NGO Name-->
                            <p class="name">{{blg.author_name}}</p>
                            <!--NGO Name-->
                            <!--Description-->
                            <p class="description">{{blg.post}}</p>
                            <!--Description-->
                            <!--Text-->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--Jumbotron-->
            {% endif %}
        </div>
        <!--/Content-->
        <!--Footer-->
        {% include 'footer.html' %}
        <!--/Footer-->
        <!--JS,Jquery-->
        {% include 'scripts.html' %}
        <!--/JS,Jquery-->
    </body>
</html>
