{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        <!--Navbar-->
        {% include 'navbar.html' %}
        <!--/Navbar-->
        <!--Content-->
        <div class="container">
            <form>
                <!--Name of Author
                Date
                Category of Post
                Blog/Post
                -->
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input
                        type="email"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="name@example.com"
                    />
                </div>
                {% comment %} Date {% endcomment %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                            <div class="content">
                                <div class="form-group">
                                    <label>Date</label>
                                    <div
                                        class="input-group date"
                                        id="datepicker"
                                    >
                                        <input
                                            class="form-control"
                                            placeholder="MM/DD/YYYY"
                                        /><span
                                            class="input-group-append input-group-addon"
                                            ><span class="input-group-text"
                                                ><i
                                                    class="fa fa-calendar"
                                                ></i></span
                                        ></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Time</label>
                                    <div
                                        class="input-group time"
                                        id="timepicker"
                                    >
                                        <input
                                            class="form-control"
                                            placeholder="HH:MM AM/PM"
                                        /><span
                                            class="input-group-append input-group-addon"
                                            ><span class="input-group-text"
                                                ><i
                                                    class="fa fa-clock"
                                                ></i></span
                                        ></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} /Date {% endcomment %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Blog/Post</label>
                    <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                    ></textarea>
                </div>
            </form>
        </div>
        <!--/Content-->
        <!--Footer-->
        {% include 'footer.html' %}
        <!--/Footer-->
    </body>
</html>
